@*@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

@*<p>
    Mind the Gap is Lorem ipsum dolor sit amet, ad utinam democritum efficiendi eos, nostrud praesent id vis. Ne nonumy laboramus duo, agam vocent electram ad eos, qui ex velit iudico dignissim. In latine diceret mea, ex pro modo appareat constituto, at atqui essent mentitum nec. Pro ex adhuc dicam conclusionemque.

    Est et novum verterem. Ei mandamus postulant eum, tation eripuit scaevola ad his. In utamur honestatis mea, id graeci impedit nostrum mel, commodo repudiandae te usu. Sit ex etiam errem rationibus, eos an consetetur adversarium liberavisse. Vix in sumo nusquam efficiendi, eum ut vocibus menandri.

    Verear volutpat efficiantur mei an, per an possit adolescens, ubique dolorum inermis vim an. Ad aliquam recusabo cum, sea te melius disputando. Te agam nibh lobortis usu, eos meis civibus ad. Veri insolens partiendo eam id.

    At vix cibo vivendo explicari. Ea vix timeam numquam, sit at dictas pertinax volutpat, cum ei clita accommodare. At nec oratio erroribus, everti aliquip accommodare pro ne, ex has case ocurreret. In nec putant meliore, mei legimus minimum molestie ei. Cum ad purto ullum dictas, sed an modus dicat mollis, est meis repudiandae eu. Solum brute malis pro ex, minimum gubergren dissentias nam at.

    Sit cu forensibus appellantur consequuntur, cu noster corrumpit evertitur sed, ea vel liber erant. Sed malis fabellas principes et, usu alia ocurreret no. Nostro principes sed ex. Et mei albucius splendide, id ius odio propriae tincidunt, quo diam modus ad.
</p>*@
<!DOCTYPE html>
<html>
<head>

    <title></title>
    <meta charset="utf-8" />
    <!--Collapsing Modal-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!--My Script-->
    <script src="MyScript.js"></script>

    <!--Bootstrap Style Sheets-->
    <link href="Style.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/Style.css" rel="stylesheet" />


</head>
<body>
    


    <div class="parallax"></div>

    <div style="height:1000px;background-color:red;font-size:36px">
        This div is just here to enable scrolling.
        Tip: Try to remove the background-attachment property to remove the scrolling effect.
        @*<p>
            Mind the Gap is Lorem ipsum dolor sit amet, ad utinam democritum efficiendi eos, nostrud praesent id vis. Ne nonumy laboramus duo, agam vocent electram ad eos, qui ex velit iudico dignissim. In latine diceret mea, ex pro modo appareat constituto, at atqui essent mentitum nec. Pro ex adhuc dicam conclusionemque.

            Est et novum verterem. Ei mandamus postulant eum, tation eripuit scaevola ad his. In utamur honestatis mea, id graeci impedit nostrum mel, commodo repudiandae te usu. Sit ex etiam errem rationibus, eos an consetetur adversarium liberavisse. Vix in sumo nusquam efficiendi, eum ut vocibus menandri.

            Verear volutpat efficiantur mei an, per an possit adolescens, ubique dolorum inermis vim an. Ad aliquam recusabo cum, sea te melius disputando. Te agam nibh lobortis usu, eos meis civibus ad. Veri insolens partiendo eam id.

            At vix cibo vivendo explicari. Ea vix timeam numquam, sit at dictas pertinax volutpat, cum ei clita accommodare. At nec oratio erroribus, everti aliquip accommodare pro ne, ex has case ocurreret. In nec putant meliore, mei legimus minimum molestie ei. Cum ad purto ullum dictas, sed an modus dicat mollis, est meis repudiandae eu. Solum brute malis pro ex, minimum gubergren dissentias nam at.

            Sit cu forensibus appellantur consequuntur, cu noster corrumpit evertitur sed, ea vel liber erant. Sed malis fabellas principes et, usu alia ocurreret no. Nostro principes sed ex. Et mei albucius splendide, id ius odio propriae tincidunt, quo diam modus ad.
        </p>*@
    </div>

    <div class="parallax"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Calendar Month View</h2>
                <p>Mind the gap syncs with your Google Calendar to populate all of your scheduled events</p>
                <img src="~/Content/simple calendar.png" class="img-rounded" alt="Cinque Terre" width="480" height="236">
            </div>
            <div class="col-sm-12 col-md-6">
                <h2>Calendar Day View</h2>
                <p>Within your schedule, Mind the Gap finds the down times in your schedule and suggests things you have entered as "interests."</p>
                <img src="~/Content/Calendar day view.png" class="img-rounded" alt="Cinque Terre" width="304" height="236">
            </div>
        </div>
    </div>
    <div class="container">

    </div>

</body>
</html>
