
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <!--Collapsing Modal-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Font Style Sheet -->
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Didact+Gothic|Encode+Sans+Semi+Expanded|Hind+Madurai|Julius+Sans+One|Mandali|NTR|Pavanam|Questrial|Ramabhadra|Tauri|Wire+One" rel="stylesheet">
    <!--Bootstrap Style Sheets-->
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="~/Content/Style2.css" rel="stylesheet" />
    <!--JavaScript Sheets-->
    <script src="~/Scripts/MyScript.js"></script>
    <script src="~/Scripts/MyScript2.js"></script>
</head>
<body>
    <!-- Navbar with Sign-in Ability -->
    <nav class="navbar navbar-default navbar-fixed-top" style="font-family: 'Questrial', sans-serif; color:white; text-shadow: 0, 1px, 2px, rgba(0,0,0,0.20);">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://localhost:26262/Home/About">MIND THE GAP</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-2">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://localhost:26262/Events/Daily">Home</a></li>
                    <li><a href="http://localhost:26262/Home/ProfilePage">Profile</a></li>
                    <li><a href="http://localhost:26262/Home/About">How It Works</a></li>
                    <li><a href="http://localhost:26262/Home/FAQ">FAQ</a></li>
                    <li><a href="http://localhost:26262/Home/Contact">Contact</a></li>
                    <li><a href="http://localhost:26262/Events/Create">Add Event</a></li>
                    <li><button id="authorize-button" class="btn btn-default btn-outline btn-circle" style="display:block">Sign in</button></li>
                    <li><button id="signout-button" class="btn btn-default btn-outline btn-circle" style="display:none">Sign Out</button></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav><!-- /.navbar -->
    <div class="container">
        <div class="jumbotron jumbotron-sm" style="background-color:#999999; box-shadow: rgba(0,0,0,0.18) 0px 2px 4px; font-family: 'Questrial', sans-serif; color:white; text-shadow: 0, 1px, 2px, rgba(0,0,0,0.20);">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <h1 class="h1"style="text-align:center;text-shadow: rgba(0,0,0,0.18) 2px 4px 6px;">
                            Frequently asked questions.  @*<small>Feel free to contact us</small>*@
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="container" style="justify-content:center">*@
    @*<div class="body">*@
    <div class='centerplease' style="font-family: 'Questrial', sans-serif; color:white; text-shadow: 0, 1px, 2px, rgba(0,0,0,0.20);">
        Mind the Gap Frequently Asked Questions
    </div>
    <br>
    <div class="content" style="font-family: 'Questrial', sans-serif; color:white; text-shadow: 0, 1px, 2px, rgba(0,0,0,0.20);">
        >
        <div>
            <input type="checkbox" id="question1" name="q" class="questions">
            <div class="plus">+</div>
            <label for="question1" class="question">
                What does Mind the Gap do?
            </label>
            <div class="answers">
                Mind the Gap syncs with your Google Calendar, finds the gaps in your schedule, and suggests things that you'd rather be doing with your down time.
            </div>
        </div>
        <div>
            <input type="checkbox" id="question2" name="q" class="questions">
            <div class="plus">+</div>
            <label for="question2" class="question">
                Do I need to have a Google account?
            </label>
            <div class="answers">
                We do require users have a Google account to sync calendars seamlessly. They are free and easy to create. You can create one <a href="https://accounts.google.com/SignUp?continue=https%3A%2F%2Fwww.google.com%2F&hl=en">here.</a>
            </div>
        </div>
        <div>
            <input type="checkbox" id="question3" name="q" class="questions">
            <div class="plus">+</div>
            <label for="question3" class="question">
                Do I need to enter events/interests in Google *and* Mind the Gap?
            </label>
            <div class="answers">
                You do not need to enter information into both. Because of our syncing, if you enter it once, it'll show up on both.
            </div>
        </div>
        <div>
            <input type="checkbox" id="question4" name="q" class="questions">
            <div class="plus">+</div>
            <label for="question4" class="question">
                How easy is it to manage the calendar and events?
            </label>
            <div class="answers">
                Your tasks and interests are very easy to manage within the app. Just
            </div>
        </div>
    </div>
    </div>
    </div> <!-- end of body !-->

</body>
</html>
