@{
    ViewBag.Title = "Home Page";
}


<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <!--Collapsing Modal-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!--JavaScript Sheets-->
    <script src="MyScript.js"></script>
    <script src="~/Scripts/MyScript.js"></script>
    <script src="~/Scripts/MyScript2.js"></script>

    <!--Bootstrap Style Sheets-->
    <link href="Style.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="~/Content/Style2.css" rel="stylesheet" />

    <!--Font Style Sheet-->
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Didact+Gothic|Encode+Sans+Semi+Expanded|Hind+Madurai|Julius+Sans+One|Mandali|NTR|Pavanam|Questrial|Ramabhadra|Tauri|Wire+One" rel="stylesheet">

</head>


<body>
    <!--Calendar-->
    <div class="row">
        <div class="col-sm-8 col-md-8">
            @*<button id="authorize-button" style="display: block;">Authorize</button>
                <button id="signout-button" style="display: none;">Sign Out</button>*@
            <h1 style="font-family: 'Questrial', sans-serif;">Events</h1>
            <ul id='events'></ul>
            <div id="calendar"></div>
            <button id="authorize-button" style="display: block;">Authorize</button>
            <button id="signout-button" style="display: none;">Sign Out</button>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h2 style="font-family: 'Questrial', sans-serif;">To Do List</h2>
                    <form name="checkListForm" style="font-family: 'Questrial', sans-serif;">
                        <input type="text" name="checkListItem" placeholder="Add Item..." />
                    </form>
                    <button type="button" id="add" class="btn btn-info" style="background-color: #0067A3;color: white; box-shadow: rgba(0,0,0,0.18) 0px 2px 4px;">Add</button>
                    <button type="button" id="clear" title="Clear checked items" class="btn btn-default" style="background-color: #CA242F; color: white; box-shadow: rgba(0,0,0,0.18) 0px 2px 4px;">clear</button>
                    <br /><br />
                    <div class="list" style="font-family: 'Questrial', sans-serif;"></div>
                </div>
                <div class="col-md-4" style="font-family: 'Questrial', sans-serif;"></div>
            </div>
        </div>
    </div>
</body>
</html>
