
@{
    ViewBag.Title = "ProfilePage";
}

<h1>Profile Page</h1>
<h2>Heading 2 (left)</h2>
<h3>Heading 3 (right)</h3>

<p>Current Progress.</p>

<!--Interest #1-->

<h2>Your interest: Reading</h2>
<h2>Your goal: 7hrs</h2>
<!--<div class="progress pink">
    <span class="progress-left">
        <span class="progress-bar"></span>
    </span>
    <span class="progress-right">
        <span class="progress-bar"></span>
    </span>
    <div class="progress-value">67%</div>
</div>
<h4 style="text-align:center">Crocheting</h4>-->
    </div>
<div class="col-md-6 col-sm-6">
    <div class="progress blue">
        <span class="progress-left">
            <span class="progress-bar"></span>
        </span>
        <span class="progress-right">
            <span class="progress-bar"></span>
        </span>
        <div class="progress-value">90%</div>
    </div>
    <h4 style="text-align:center">Reading</h4>
</div>
<br />

<!--Interest #2-->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <h2>Your interest: Working Out</h2>
            <h2>Your goal: 7hrs</h2>
            <!--<div class="progress blue">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">90%</div>
            </div>
            <h4 style="text-align:center">Reading</h4>-->
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="progress yellow">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">75%</div>
            </div>
            <h4 style="text-align:center">Working Out</h4>
        </div>
    </div>
</div>

<br />

<!--Interest #3-->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6" style="text-align:left">
            <h2>Your interest: Crocheting</h2>
            <h2>Your goal: 7hrs</h2>
            <!--<div class="progress blue">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">90%</div>
            </div>
            <h4 style="text-align:center">Reading</h4>-->
        </div>

        <div class="col-md-6 col-sm-6">
            <div class="progress pink">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">67%</div>
            </div>
            <h4 style="text-align:center">Crocheting</h4>
        </div>
    </div>
</div>

<br />
