@model IEnumerable<MindTheGap.Models.Event>

@{
    ViewBag.Title = "Index";
}
<button id="authorize-button" style="display: block;">Authorize</button>
<button id="signout-button" style="display: none;">Sign Out</button>
<div id="calendar"></div>


