@model IEnumerable<MindTheGap.Models.Event>

@{
    ViewBag.Title = "Index";
}
<button id="authorize-button" style="display: block;">Authorize</button>
<button id="signout-button" style="display: none;">Sign Out</button>
<div id="calendar"></div>

<script>
        $(document).ready(function () {

            //loads when the dom is loaded
            $(document).ready(function () {
                var getEvents = [];
                //getting information from the database
                //notice the get request
                $.ajax({
                    type: "GET",
                    url: "GetCalendarDatabase",
                    //THERE GOES JSON PROPERTY DATA. WEEZ PASSIN DAT KEY VALUE PAIR
                    success: function (Data) {
                        $.each(Data, function (key,value) {
                            //object
                            getEvents.push({
                                // title/description/start/end/color are full calendar keywords must have
                                //summary/description/starttime/endtime/color are fields in yr table
                                //MOMENT IS SPECIAL I SENT YOU A LINK
                                title: value.summary,
                                description: value.description,
                                start: moment(value.starttime),
                                end: moment(value.endtime),
                                color: value.colorId
                            });
                        })
                        GenerateCalendar(getEvents);
                    },
                    error: function (error) {
                        alert('failed');
                    }
                })
                function GenerateCalendar(getEvents) {
                    $('#calendar').fullCalendar({
                        eventColor: '#ffb6c1',
                        events: getEvents
                    })
                }
            })


        //var getEvent = [];
        //$.ajax({
        //    url: "GetCalendarDatabase",
        //    type: "GET",
        //    //contentType: "application/json; charset=utf-8",
        //    //data: JSON.stringify(events),
        //    success: function (data) {
        //    $.each(data, function (key, value) {
        //        var summary = value.summary;
        //        var starttime = value.starttime;
        //        var endtime = value.endtime;

        //        var insertEvents = {};
        //        insertEvents =
        //            {
        //                title: summary,
        //                start: moment(starttime),
        //                end: moment(endtime),
        //            }
        //        getEvents.push(insertEvents);
        //        alert(insertEvents);
        //    })
        //        GenerateCalendar(getEvent);
        //    }
        //})

        //    // page is now ready, initialize the calendar...

        //    $('#calendar').fullCalendar({
        //        events: getEvent, 
        //        editable: true,
        //        droppable: true,

        //        // timeFormat: 'hh:mm-h:mma ', 
        //        timeFormat: 'hh:mma ',
        //        displayEventEnd: true,  
        //    })

        });
</script>
@*<script async defer src="https://apis.google.com/js/api.js"
        onload="this.onload=function(){};handleClientLoad()"
        onreadystatechange="if (this.readyState === 'complete') this.onload()">
</script>*@