@model IEnumerable<MindTheGap.Models.Event>

@{
    ViewBag.Title = "Index";
}
<button id="authorize-button" style="display: block;">Authorize</button>
<button id="signout-button" style="display: none;">Sign Out</button>
<div id="calendar"></div>

<script>
        
</script>
<script async defer src="https://apis.google.com/js/api.js"
        onload="this.onload=function(){};handleClientLoad()"
        onreadystatechange="if (this.readyState === 'complete') this.onload()">
</script>